@font-face {
   font-family: Poppins;
   src: url(Poppins.ttf)
   format('truetype');
}

h1 {
  font-family: Poppins;
  text-align: center;
}

h2 {
  font-family: Georgia
}

h3 {
  font-family: serif;
}

h4 {
  font-family: Poppins

}

h5 {
  font-family: Poppins
}

h6 {
  font-family: Poppins
}

p {
  font-family: Poppins;
  color: gray;
}

img {
  height: 200px;
  border: 2px solid black;
}

a {
  color: red;
  font-family: Poppins;
  text-decoration: none;
}
